.header {
    height: 1000px;
    min-width: 1200px;
    background-image: linear-gradient( to top, rgba(252, 227, 138, 0.9), rgba(243,129,129,0.9)),
      url(../images/banner-optimized.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .header {
    background-image: linear-gradient( to top, rgba(252, 227, 138, 0.9), rgba(243,129,129,0.9)),
    url(../images/banner-optimized@2x.jpg);
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 154px;
  }

  .menu__list {
    display: flex;
    justify-content: space-between;
    width: 610px;
  }


  .menu__link {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-white;;
    padding-bottom: 12px;
    border-bottom: 3px solid transparent; 

    &-icon {
        display: block;
        content: "";
        width: 18px;
        height: 18px;
        padding-bottom: 28px;
        background-repeat: no-repeat;
        background-position: center;
    }
  }



  .menu__item {
    display: block;
    padding: 15px 25px 0 25px;
    cursor: pointer;

    &:hover {

        .menu__link {
            color: $color-gold;
            border-color: $color-gold;
        }

        .menu__icon {
            fill: $color-gold;
        }
    }
}


  .menu__icon {
    fill: $color-white;
  }

  .content--header {
    margin: 0 auto;
    text-align: center;
  }

  .title--header {
    color: $color-white;;
    font-size: 150px;
    line-height: 0.95; 
    margin-bottom: 106px;
  }

  .subtitle--header {
    color: $color-white;
    font-size: 72px;
    margin-bottom: 35px;
  }

  
  .button--header {
    border: 3px solid $color-white;
    width: 160px;
    font-size: 14px;
    line-height: 34px;
    color: $color-white;

    &:hover {
        border-color: $color-gold;
        color: $color-gold;
    }
  }
