// COLORS

$color-white: #fff;

$color-grey: #333;

$color-lightgrey: #999;

$color-lightblue: #95e1d3;

$color-gold: #fce38a;

$color-orange: #f38181;

$color-footer-greyline: #e5e5e5;

$color-footer-grey: #e7e7e7;

// FONTS
$roboto: "Roboto", sans-serif;
$montserrat: "Montserrat", sans-serif;
$kaushan: "Kaushan Script", cursive;